#### In this Class I will Cover
- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Initialize a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

In [7]:
spark

In [10]:
# Reading the dataset Method 1
data = spark.read.csv(r"C:\Users\OLAOYE OLUWATOBILOBA\Videos\Pandas\Pandas\dirtydata.csv" , header=True, inferSchema=True)
data

DataFrame[Duration: int, Date: string, Pulse: int, Maxpulse: int, Calories: double]

In [11]:
# Checking the datatypes of the columns (Schema)
data.printSchema()

root
 |-- Duration: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Pulse: integer (nullable = true)
 |-- Maxpulse: integer (nullable = true)
 |-- Calories: double (nullable = true)

In [14]:
# Reading the dataset Method 2
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\OLAOYE OLUWATOBILOBA\Videos\Pandas\Pandas\dirtydata.csv",inferSchema=True)
df_pyspark

DataFrame[Duration: int, Date: string, Pulse: int, Maxpulse: int, Calories: double]

In [15]:
#Load Dataset 
data.show()

+--------+------------+-----+--------+--------+
|Duration|        Date|Pulse|Maxpulse|Calories|
+--------+------------+-----+--------+--------+
|      60|'2020/12/01'|  110|     130|   409.1|
|      60|'2020/12/02'|  117|     145|   479.0|
|      60|'2020/12/03'|  103|     135|   340.0|
|      45|'2020/12/04'|  109|     175|   282.4|
|      45|'2020/12/05'|  117|     148|   406.0|
|      60|'2020/12/06'|  102|     127|   300.0|
|      60|'2020/12/07'|  110|     136|   374.0|
|     450|'2020/12/08'|  104|     134|   253.3|
|      30|'2020/12/09'|  109|     133|   195.1|
|      60|'2020/12/10'|   98|     124|   269.0|
|      60|'2020/12/11'|  103|     147|   329.3|
|      60|'2020/12/12'|  100|     120|   250.7|
|      60|'2020/12/12'|  100|     120|   250.7|
|      60|'2020/12/13'|  106|     128|   345.3|
|      60|'2020/12/14'|  104|     132|   379.3|
|      60|'2020/12/15'|   98|     123|   275.0|
|      60|'2020/12/16'|   98|     120|   215.2|
|      60|'2020/12/17'|  100|     120|   300.0|
|      45|'2020/12/18'|   90|     112|    NULL|
|      60|'2020/12/19'|  103|     123|   323.0|
+--------+------------+-----+--------+--------+
only showing top 20 rows

In [16]:
# Data Type
type(data)

pyspark.sql.dataframe.DataFrame

In [17]:
# Loading first 3 rows
data.head(3)

[Row(Duration=60, Date="'2020/12/01'", Pulse=110, Maxpulse=130, Calories=409.1),
 Row(Duration=60, Date="'2020/12/02'", Pulse=117, Maxpulse=145, Calories=479.0),
 Row(Duration=60, Date="'2020/12/03'", Pulse=103, Maxpulse=135, Calories=340.0)]

In [40]:
# Selecting columns and indexing

Data2 =data.select(['Date', 'Pulse','Maxpulse']).show()

+------------+-----+--------+
|        Date|Pulse|Maxpulse|
+------------+-----+--------+
|'2020/12/01'|  110|     220|
|'2020/12/02'|  117|     234|
|'2020/12/03'|  103|     206|
|'2020/12/04'|  109|     218|
|'2020/12/05'|  117|     234|
|'2020/12/06'|  102|     204|
|'2020/12/07'|  110|     220|
|'2020/12/08'|  104|     208|
|'2020/12/09'|  109|     218|
|'2020/12/10'|   98|     196|
|'2020/12/11'|  103|     206|
|'2020/12/12'|  100|     200|
|'2020/12/12'|  100|     200|
|'2020/12/13'|  106|     212|
|'2020/12/14'|  104|     208|
|'2020/12/15'|   98|     196|
|'2020/12/16'|   98|     196|
|'2020/12/17'|  100|     200|
|'2020/12/18'|   90|     180|
|'2020/12/19'|  103|     206|
+------------+-----+--------+
only showing top 20 rows

In [43]:
Data3 = data.select([ 'Pulse','Maxpulse', data['Date']]).show()

+-----+--------+------------+
|Pulse|Maxpulse|        Date|
+-----+--------+------------+
|  110|     220|'2020/12/01'|
|  117|     234|'2020/12/02'|
|  103|     206|'2020/12/03'|
|  109|     218|'2020/12/04'|
|  117|     234|'2020/12/05'|
|  102|     204|'2020/12/06'|
|  110|     220|'2020/12/07'|
|  104|     208|'2020/12/08'|
|  109|     218|'2020/12/09'|
|   98|     196|'2020/12/10'|
|  103|     206|'2020/12/11'|
|  100|     200|'2020/12/12'|
|  100|     200|'2020/12/12'|
|  106|     212|'2020/12/13'|
|  104|     208|'2020/12/14'|
|   98|     196|'2020/12/15'|
|   98|     196|'2020/12/16'|
|  100|     200|'2020/12/17'|
|   90|     180|'2020/12/18'|
|  103|     206|'2020/12/19'|
+-----+--------+------------+
only showing top 20 rows

In [46]:
### Adding Columns in data frame
data =data.withColumn('pulse Two', data['Maxpulse']*2)
data.show()

+--------+------------+-----+--------+--------+---------+
|Duration|        Date|Pulse|Maxpulse|Calories|pulse Two|
+--------+------------+-----+--------+--------+---------+
|      60|'2020/12/01'|  110|     220|   409.1|      440|
|      60|'2020/12/02'|  117|     234|   479.0|      468|
|      60|'2020/12/03'|  103|     206|   340.0|      412|
|      45|'2020/12/04'|  109|     218|   282.4|      436|
|      45|'2020/12/05'|  117|     234|   406.0|      468|
|      60|'2020/12/06'|  102|     204|   300.0|      408|
|      60|'2020/12/07'|  110|     220|   374.0|      440|
|     450|'2020/12/08'|  104|     208|   253.3|      416|
|      30|'2020/12/09'|  109|     218|   195.1|      436|
|      60|'2020/12/10'|   98|     196|   269.0|      392|
|      60|'2020/12/11'|  103|     206|   329.3|      412|
|      60|'2020/12/12'|  100|     200|   250.7|      400|
|      60|'2020/12/12'|  100|     200|   250.7|      400|
|      60|'2020/12/13'|  106|     212|   345.3|      424|
|      60|'2020/12/14'|  104|     208|   379.3|      416|
|      60|'2020/12/15'|   98|     196|   275.0|      392|
|      60|'2020/12/16'|   98|     196|   215.2|      392|
|      60|'2020/12/17'|  100|     200|   300.0|      400|
|      45|'2020/12/18'|   90|     180|    NULL|      360|
|      60|'2020/12/19'|  103|     206|   323.0|      412|
+--------+------------+-----+--------+--------+---------+
only showing top 20 rows

In [47]:
### Drop the columns
data=data.drop('Pulse')
data.show()

+--------+------------+--------+--------+---------+
|Duration|        Date|Maxpulse|Calories|pulse Two|
+--------+------------+--------+--------+---------+
|      60|'2020/12/01'|     220|   409.1|      440|
|      60|'2020/12/02'|     234|   479.0|      468|
|      60|'2020/12/03'|     206|   340.0|      412|
|      45|'2020/12/04'|     218|   282.4|      436|
|      45|'2020/12/05'|     234|   406.0|      468|
|      60|'2020/12/06'|     204|   300.0|      408|
|      60|'2020/12/07'|     220|   374.0|      440|
|     450|'2020/12/08'|     208|   253.3|      416|
|      30|'2020/12/09'|     218|   195.1|      436|
|      60|'2020/12/10'|     196|   269.0|      392|
|      60|'2020/12/11'|     206|   329.3|      412|
|      60|'2020/12/12'|     200|   250.7|      400|
|      60|'2020/12/12'|     200|   250.7|      400|
|      60|'2020/12/13'|     212|   345.3|      424|
|      60|'2020/12/14'|     208|   379.3|      416|
|      60|'2020/12/15'|     196|   275.0|      392|
|      60|'2020/12/16'|     196|   215.2|      392|
|      60|'2020/12/17'|     200|   300.0|      400|
|      45|'2020/12/18'|     180|    NULL|      360|
|      60|'2020/12/19'|     206|   323.0|      412|
+--------+------------+--------+--------+---------+
only showing top 20 rows

In [48]:
### Rename the columns
df_pyspark.withColumnRenamed('Date','New Date').show()

+--------+------------+--------+--------+
|Duration|    New Date|Maxpulse|Calories|
+--------+------------+--------+--------+
|      60|'2020/12/01'|     112|   409.1|
|      60|'2020/12/02'|     119|   479.0|
|      60|'2020/12/03'|     105|   340.0|
|      45|'2020/12/04'|     111|   282.4|
|      45|'2020/12/05'|     119|   406.0|
|      60|'2020/12/06'|     104|   300.0|
|      60|'2020/12/07'|     112|   374.0|
|     450|'2020/12/08'|     106|   253.3|
|      30|'2020/12/09'|     111|   195.1|
|      60|'2020/12/10'|     100|   269.0|
|      60|'2020/12/11'|     105|   329.3|
|      60|'2020/12/12'|     102|   250.7|
|      60|'2020/12/12'|     102|   250.7|
|      60|'2020/12/13'|     108|   345.3|
|      60|'2020/12/14'|     106|   379.3|
|      60|'2020/12/15'|     100|   275.0|
|      60|'2020/12/16'|     100|   215.2|
|      60|'2020/12/17'|     102|   300.0|
|      45|'2020/12/18'|      92|    NULL|
|      60|'2020/12/19'|     105|   323.0|
+--------+------------+--------+--------+
only showing top 20 rows